<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PokéPedia</title>
      </head>
      <body>
        <main>
          <h1>PokéPedia</h1>
          <section>
            <h2>Search</h2>
            <form action="search.php" method="post">
              <input type="text" name="search" placeholder="Search for a Pokémon">
              <input type="submit" value="Search">
            </form>
          </section>
        </main>
        <footer>
          <p> 
            No Copyright - <a href="judithribe.com">Judith H. Ribé</a>
          </p>
        </footer>
      </body>
    </html>