{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>PokéPedia</title>
      </head>
      <body>
        <main>
          <h1>PokéPedia</h1>
            <h2>Hello, I'm {{pokemon_name}}!</h2>
            {% if pokemon_sprite %}
                <img src="{{pokemon_sprite}}" alt="A pokémon vectorized photo"></a>
            {% else %}
                <img src="{% static 'img/' %}{{pokemon_id}}.png" alt="A pokémon AI generated photo"></a>
            {% endif %}
            <section>
                <ul>
                    <li>ID: {{pokemon_id}}</li>
                    <li>Name: {{pokemon_name}}</li>
                    <li>Height: {{pokemon_height}} m</li>
                    <li>Weight: {{pokemon_weight}} kg</li>
                </ul>
            </section>
            <section>
                Type: 
                {% for type in pokemon_types %}
                    <ul>
                        <li>{{type}}</li>
                    </ul>
                {% endfor %}
            </section>
            <section>
                Abilities: 
                {% for ability in pokemon_abilities %}
                    <ul>
                        <li>{{ability}}</li>
                    </ul>
                {% endfor %}
            </section>
            <section>
                Stats: 
                {% for stat in pokemon_stats_data %}
                    <ul>
                        <li>{{stat.name}}: {{stat.value}}</li>
                    </ul>
                {% endfor %}
            </section>
        </main>
        <footer>
          <p> 
            No Copyright - <a href="https://judithribe.com/">Judith H. Ribé</a>
          </p>
        </footer>
      </body>
    </html>