{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/pokepedia_styles.css' %}">
        <title>PokéPedia</title>
      </head>
      <body>
        <main>
          <h1>PokéPédia</h1>
          <section>
            <h2>Search</h2>
            <form action="1">
              <input type="text" name="search" placeholder="Search for a Pokémon">
              <input type="submit" value="Search">
            </form>
          </section>
        </main>
        <footer>
          <p> 
            No Copyright - <a href="https://judithribe.com/">Judith H. Ribé</a>
          </p>
        </footer>
      </body>
    </html>